@font-face {
    font-family: 'Nunito-Regular';
    src: url(../fonts/Nunito-Regular.ttf);
}

@font-face {
    font-family: 'Nunito-Bold';
    src: url(../fonts/Nunito-Bold.ttf);
}

@font-face {
    font-family: 'Nunito-SemiBold';
    src: url(../fonts/Nunito-SemiBold.ttf);
}

$regular : 'Nunito-Regular';
$semibold : 'Nunito-SemiBold';
$bold : 'Nunito-Bold';